/*  import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


/* Custom scrool bar start */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* all similar content styling codes */

section {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about .about-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFD700;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #FFD700;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* Navbar Start */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: #FFD700;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #FFD700;
}

.navbar.sticky .menu li a:hover {
    color: #FFD700;
}


/* Navbar Finish */


/* Menu-btn Start */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #FFD700;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}


/* Menu-btn Finish */


/* Home Start */

.home {
    display: flex;
    background: url("../images/home.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    width: 100%;
    display: flex;
}

.home .max-width .row {
    margin-right: 0;
}

.home .home-content .text-1 {
    font-size: 30px;
    color: #ccc;
    letter-spacing: 4px;
    margin: 30px 0 0 0;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    text-align: center;
}

.home .home-content .text-3 {
    font-size: 30px;
    margin: 5px 0;
    color: #ccc;
}

.home .home-content .text-3 span {
    color: #FFD700;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: #FFD700;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #FFD700;
    transition: all 0.3s ease;
}

.home .home-content .scoial-icon a {
    color: #fff;
    background: none;
    border-radius: 0px;
    border: 0px;
}

.home .home-content .scoial-icon a:hover {
    color: #FFD700;
}

.fa-spin-hover {
    padding: 2px;
}

.fa-spin-hover:hover {
    animation: fa-spin 0.2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: (0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}


/* Home Finish */


/* About  Start */

.about .title::after {
    content: "SERKAN ÖZKAN";
    color: #111;
}

.about {
    background-image: url("../images/about.jpg")
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 55%;
    image-rendering: pixelated;
}

.about .about-content .right {
    width: 50%;
}

.about .about-content .right .text {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.about .about-content .right .text span {
    color: #FFD700;
}

.about .about-content .right p {
    text-align: justify;
    font-family: 'Tahoma', sans-serif;
    font-size: 18px;
}

.about .about-content .right a {
    display: inline-block;
    background: FFD700;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid FFD700;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: FFD700;
    background: none;
}

.info li {
    width: 100%;
    float: right;
    list-style: none;
    padding: 10px 0;
    font-family: 'ubuntu', sans-serif;
}

.info li:first-child {
    padding-top: 0;
}

.info li .block1 {
    width: 40%;
    display: inline-block;
    color: #000;
    font-weight: bold;
}

.info li .block2 {
    width: 60%;
    display: inline-block;
    color: black;
}


/* About  Finish */


/* experience Start */

.experience {
    /* background-color: #2c2c2c; */
    background-image: url(../images/e2.jpg);
    background-size: cover;
}

.experience .experience-content ul h3 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    color: #FFD700;
    padding: 7px 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding-bottom: 50px;
}

.experience .experience-content ul h4 {
    color: #bfbfbf;
    font-size: 20px;
    margin-bottom: 0;
    font-family: 'Tahoma', sans-serif;
}

.experience .experience-content ul p {
    margin-bottom: 15px;
    color: #bfbfbf;
    font-size: 15px;
    font-family: 'Tahoma', sans-serif;
}

.experience .experience-content ul .company {
    display: block;
    /* margin-bottom: 15px; */
    font-size: 18px;
    color: #bfbfbf;
    font-family: 'Tahoma', sans-serif;
}


/* experience Finish */


/* certificate Start */

.certificate {
    background-image: url("../images/certificate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.certificate .certificate-content div {
    position: relative;
    float: left;
}

.certificate .certificate-content div img {
    display: block;
    width: 280px;
    height: 230px;
    padding: 15px;
    transition: .1s transform;
    transform: translateZ(0);
}

.certificate .certificate-content div:hover {
    z-index: 1;
}

.certificate .certificate-content div:hover img {
    transform: scale(1.7, 1.7);
    transition: .3s transform;
}

.cf:before,
.cf:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

.cf:after {
    clear: both;
}


/* certificate Finish */


/* Footer Started */

footer {
    background: #111;
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    color: #fff;
}

footer span a {
    color: #FFD700;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}


/* Footer Finished */


/* responsive media query start */

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .services .serv-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    .right form .error-box {
        width: 150px;
    }
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}